*.kdev4
*.tar.gz
.directory
cmake_install.cmake
CMakeCache*
cluster*
docs/html
scripts/fuzzTest*.cnf
*~
*.lo
.libs/
COPYING
ChangeLog
INSTALL
Makefile
Makefile.in
README
aclocal.m4
autom4te.cache/
compile
config.guess
config.status
config.sub
configure
cryptominisat4/.deps/
cryptominisat4/.dirstamp
depcomp
install-sh
libcryptominisat4.la
libtool
ltmain.sh
missing

m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
cryptominisat4/GitSHA1.cpp
cryptominisat4/stamp-h1
cryptominisat_simple
.deps
