*.kdev4
*.pyc
*.aux
*.bbl
*.blg
*.log
*.pdf
*.out
.gdb_history
.directory
build/
scripts/fuzz/out/
scripts/reconf/outs
tests/cnf-files/*.sqlite
scripts/fuzz/fuzzTest_*
scripts/fuzz/tmp_for_xor_to_cnf_*
scripts/reconf/outfile*
.vscode
web/jquery-1.11.3.min.js
*.pdf
*.aux
*.blg
*.log
*.bbl
*.bak
/.vs
