global-exclude *.json
global-exclude *.timeout
global-exclude *.in
global-exclude *.txt
recursive-include src/ *.h *.hpp
recursive-include src/picosat/ *.h *.hpp
recursive-include src/oracle/ *.h *.hpp
