html {

}

div.draghandle {
 cursor: move;
 font-family: sans-serif;
 width:140px;
 font-size:0.55em;
 padding-top:0px;
 padding-bottom:10px;
}

div.draghandle.dygraph-label {
 font-family: Arial, Helvetica, sans-serif;
}

div.myPlotData {
  width:420px;
  height:100px;
  margin:0;
}

canvas.myPlotData {
  width:420px;
  height:100px;
  margin:0;
  border: 1px solid #9C9898;
}

div.myPlotData2 {
 width:700px;
 height:200px;
 margin:0;
 margin-top:30px;
}

div.myPlotData3 {
 width:650px;
 height:200px;
 margin:0;
 margin-top:30px;
}

div.piechart {
    min-height:150px;
    min-width:150px;
}

body {
    /*color: white;
    background-color: black;*/
    margin: 0px;
    padding: 0px;
}

h1 {
  margin-left: 20px;
  font-size: 96px;
  margin-bottom: 0;
}

h1 , h2,  h3{
  margin-top: 0px;
}

h3 {
    margin: 0;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 13px;
}

h2 {
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 28px;
}

h1, h2 {
  font-family: "Yanone Kaffeesatz";
  text-rendering: optimizeLegibility;
}

p {
    font-size: 16px;
    margin-left: 20px;
   /* width: 70%;*/
    max-width: 500px;
    font-weight: 200;
    margin-top: 2px;
    /*font-family: Century Gothic, sans-serif;*/
    /*font-family: Tahoma, Geneva, sans-serif;*/
}

a {
    text-decoration: none
}


@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url('YDAoLskQQ5MOAgvHUQCcLRTHiN2BPBirwIkMLKUspj4.woff') format('woff');
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 700;
  src: local('Yanone Kaffeesatz Bold'), local('YanoneKaffeesatz-Bold'), url('We_iSDqttE3etzfdfhuPRWwXwFHHZlCwprwJOQ-Se7k.woff') format('woff');
}

table.box-table-a
{
    font-size: 12px;
    margin-left: 29px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 750px;
    border: 0px;
    border-color: black;
    border-spacing: 0px;
}

table.box-table-a th
{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    padding: 0px;
    border-bottom: 1px solid black;
}

table.box-table-a td
{
    padding: 0px;
    border-bottom: 1px solid #999999;
}

table.box-table-b
{
    font-size: 14px;
    margin-left: 20px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 500px;
    border: 0px;
    border-color: black;
    border-spacing: 0px;
}

table.box-table-b th
{
    font-size: 15px;
    margin: 0;
    font-weight: bold;
    padding: 5px;
    border-bottom: 1px solid black;
}

table.box-table-b td
{
    padding: 5px;
/*     border-bottom: 1px solid #999999; */
}


table.doubleSize
{
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    margin-top: 0;
    border: 0;
    width: 1160px;
}

#plot-table-a
{
    margin-left: 10px;
    margin-top: 0;
    border: 0;
    border-collapse: collapse;
}

#plot-table-a td
{
    padding: 0 0 0 0;
}

#columns {
    display: block;
}

#columns .column{
    margin: 0 0px 0 0px;
}

#columns .menu{
    float: left;
}

/*div.block {
    margin-left: 0px;
    padding-left: 0px;
}*/

